@import url('./_name/popup__input-error_name.css');
@import url('./_description/popup__input-error_description.css');
@import url('./_avatar/popup__input-error_avatar.css');

.popup__input-error {
    padding-inline: 36px;
    position: absolute;
    opacity: 0;
    left: 0;
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
}

@media screen and (max-width: 568px) {
    .popup__input-error {
        font-size: 9px;
        padding-inline: 20px;
    }

    .popup__input-error_name {
      top: 124px;
    }

    .popup__input-error_description {
        top: 187px;
    }
  }