@import url('./_name/popup__input-error_name.css');
@import url('./_description/popup__input-error_description.css');
@import url('./_avatar/popup__input-error_avatar.css');

.popup__input-error {
    padding-inline: 36px;
    position: absolute;
    opacity: 0;
    left: 0;
    color: rgba(255, 0, 0, 1);
    font-size: 12px;
}